body{
font-family: "rubik";
  font-optical-sizing: auto;

  font-style: normal;
    background-color: #F7F3EC;
    overflow-x: hidden;
     max-width: 100%;
}
html {
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}

.hero{
    background-image: url('../public/img/stars.jpg');
 
   background-size: contain;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.navbar{
   background-image: url('../public/img/stars.jpg');
 
   background-size: contain;
}

.navbar-menu {
  opacity: 0;
  transform: translateY(-20px); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}


.navbar-menu.open {
  opacity: 1;
  transform: translateY(0); 
}

.navbar-menu li {
  transition: transform 0.2s ease;
}

.navbar-menu li:hover {
  transform: translateX(5px);
}
